

body {
    font-family: sans-serif;
}


.wrapper {
    max-width: 420px;
    margin: 0 auto;
    padding: 20px;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

figure {
    margin: 0 0 24px;
}

img {
    max-width: 100%;
}


.holder-fonts {
    font-size: 24px;
}

.font-akzidenz {
    font-family: 'Font 01';
}

.font-governor {
    font-family: 'Font 02';
}

.font-varela {
    font-family: 'Font 03';
}




.font-helvetica-01,
.font-helvetica-02,
.font-helvetica-03,
.font-helvetica-04 {
    font-family: 'Helv 01';
    font-weight: normal;
    font-style: normal;
}

.font-helvetica-02 {
    font-style: italic;
}

.font-helvetica-03 {
    font-weight: bold;
}

.font-helvetica-04 {
    font-weight: bold;
    font-style: italic;
}











